#-----------------------------------------------------------------------------------------------------------------------
# INCLUDES
#-----------------------------------------------------------------------------------------------------------------------
include:
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/.base.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/build/build-php.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/build/build-node.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-composer-lint.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-editorconfig.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-js-lint.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-php.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-php-cs-fixer.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-php-stan.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-php-rector.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-style-lint.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-typoscript-lint.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-yaml-lint.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/analyze/analyze-xml-lint.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/deploy/deploy-feature.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/deploy/deploy-feature-rollback.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/deploy/deploy-feature-cleanup.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/deploy/deploy-feature-cleanup-downstream.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/deploy/deploy-prod.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/deploy/deploy-prod-rollback.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/sync/sync-feature.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/sync/sync-feature-scheduled.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/test/test-feature-codeception.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/test/test-prod-codeception.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/test/cache-feature-warmup.yaml'
  - 'https://raw.githubusercontent.com/move-elevator/gitlab-ci-templates/main/test/cache-prod-warmup.yaml'

#-----------------------------------------------------------------------------------------------------------------------
# CONFIGURATION (overrides)
#-----------------------------------------------------------------------------------------------------------------------
variables:
  BUILD_COMPOSER_VERSION: "2.8"
  BUILD_NODE_VERSION: "22"
  FEATURE_BRANCH_NAME_REGEX: '^JIRA-.*$'
  # SSH configuration
  SSH_USER_STAGE:
  SSH_HOST_STAGE:
  SSH_USER_PROD:
  SSH_HOST_PROD:
  # Test configuration
  DOMAIN_STAGE: 'stage.example.org'
  DOMAIN_PROD: 'example.org'


